
//
// Footer
// --------------------------------------------------

.footer {
  padding: $sections-v-pad/2 0;
  color: $footer-text-color;
  background-color: $footer-bg;

  p {
    margin: 0;
  }
}
