.landing {

  .box + .box,
  .box + div {
    margin: 0;
  }
}

//
// Sections
// --------------------------------------------------

.section {
  padding: $sections-v-pad 0;
  background: #fff;

  > .container > .box {
    margin: 0;

    &__caption {
      text-align: center;
      font-size: 40px;
      font-weight: 100;
      margin-bottom: $sections-v-pad/2;
    }

    &__content {
      padding: 0;
    }
  }
}
