
//
// Vars
//
// you can also redefine bootstrap vars here
//
// it is always better to copy bootstrap vars here
// so that you will know where it is.
// --------------------------------------------------

// fonts

$fa-font-path: "../fonts";

// template colors

$dark:    #323232;
$primary: #00bff3;

// rhythm
$vertical-rhythm: 30px;
$sections-v-pad:  60px;



//
// Footer
// --------------------------------------------------

$footer-bg:         $dark;
$footer-text-color: #fff;
