$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";

$inventory-height: 40px;
$inventory-color: #eee;
$inventory-link-color: #f7f7f7;
$inventory-link-color-hover: #fff;
$inventory-link-color-focus: #fff;
$inventory-bg: #333;
