.footer-blocks {
  background-color: lighten($footer-bg, 5%);
}

.footer {
  color: $footer-color;
  font-size: $footer-font-size;
  line-height: $footer-height;
  background-color: $footer-bg;

  @include media-breakpoint-down(md) {
    line-height: 1;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  a:not(.dropdown-item) {
    color: $footer-link-color;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      color: $footer-link-color-hover;
    }

    &:focus {
      color: $footer-link-color-active;
    }
  }

  &__container {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;

      > * {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__copyright {
    margin-left: auto;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &__social-links {
    display: flex;
    padding: 0;
    list-style: none;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    @include media-breakpoint-down(md) {
      display: block;
      @include clearfix;
    }

    > li {

      @include media-breakpoint-down(md) {
        float: left;
        margin-right: rem(10);
        margin-bottom: $spacer;
      }

      > a {
        display: block;
        padding: 0 $spacer;
        font-size: rem(16);

        @include media-breakpoint-down(md) {
          padding: rem(10);
          border-radius: rem(4);
          background-color: darken($footer-bg, 5%);
        }
      }
    }
  }

  .menu {

    &__content {
      display: flex;
      flex-direction: row;

      @include media-breakpoint-down(md) {
        display: block;
        @include clearfix;
      }

      > li {

        @include media-breakpoint-down(md) {
          float: left;
          margin-right: rem(10);
          margin-bottom: $spacer;
        }

        > a {
          padding: 0 rem(10);
          text-decoration: none;

          @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 40px;
  border: 0 none;
  background: darken($dark, 3%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  outline: 0 none;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  @include transition(all .15s ease-in-out);

  &:focus {
    outline: 0 none;
  }

  &:hover {
    background: darken($dark, 1%);
    margin-bottom: 3px;
  }

  &.on {
    opacity: 1;
    visibility: visible;
  }

  @include media-breakpoint-down(sm) {
    bottom: 10px;
    right: 10px;
  }
}
