.inventory {
  line-height: $inventory-height;
  color: $inventory-color;
  font-size: $inventory-font-size;
  border-bottom: 1px solid $border-color;
  background-color: $inventory-bg;

  a:not(.dropdown-item) {
    color: $inventory-link-color;
    text-decoration: none;

    &:hover {
      color: $inventory-link-color-hover;
    }

    &:focus {
      color: $inventory-link-color-active;
    }
  }

  &__block {
    margin-left: $gap*2;

    &--navbar {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      @include media-breakpoint-down(md) {
        display: none;
      }

      > li {

      }

      > li {

        > a {
          padding: 0 rem(5);
        }
      }
    }

    &--social-links {
      display: flex;
      margin: 0 auto 0 0;
      padding: 0;
      list-style: none;

      @include media-breakpoint-down(sm) {
        display: none;
      }

      > li {
        border-right: 1px solid $border-color;

        &:first-child {
          border-left: 1px solid $border-color;
        }

        > a {
          display: block;
          min-width: rem(50);
          padding: 0 $gap;
          text-align: center;
        }
      }
    }

    &--lang-selector,
    &--currency-selector {

      > [data-toggle="dropdown"] {
        display: block;
      }
    }

    &--lang-selector {
      margin-bottom: 0;
      padding: 0;
      list-style: none;
    }

    &--currency-selector {
      margin-bottom: 0;
      padding: 0;
      list-style: none;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .dropdown {

    &-item {
      line-height: $line-height-base;
    }
  }
}
