.main-menu {
  border-bottom: 1px solid $border-color;
  background-color: $main-menu-bg;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }

  > .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  &.main-menu--sticky {
    @include transition(all .15s ease-in-out);

    &.is-sticky {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1000;
      width: 100%;
      @include box-shadow(0 1px 6px rgba(0,0,0,.18));
    }

    .navbar-collapse {
      max-height: 320px;
    }
  }
}
